NEXT_PUBLIC_COMING_SOON=true
NEXT_PUBLIC_PROGRAM_ID=DwtDoUcKTCfkw2hSLwkYf6HVNFmtoMk7VYBjAJek5ixb
NEXT_PUBLIC_TOKEN_MINT=3JPJhu1LJZnyXniSVLkrJqYBrqzhw5oxo8TZtJg8pump
NEXT_PUBLIC_DEV_WALLET_ATA=CnW61obKZSaNi3dY6sxqwpzgJLxCd7SxrScH6xPERBE7
NEXT_PUBLIC_RPC_URL=https://api.mainnet-beta.solana.com
