NEXT_PUBLIC_COMING_SOON=true
NEXT_PUBLIC_PROGRAM_ID=6vSPYSZAMiHS4M9SKczzWCFmD1qR1wcPME28c7Xm6Ery
NEXT_PUBLIC_TOKEN_MINT=8gKUgdkSGMqQMgCxnMQEDV19Eb3riysKgh9MvbEDiNhf
NEXT_PUBLIC_DEV_WALLET_ATA=DePPX2VJzQuUFVc56sTHRKkvpoE8Z92XT24Pu6RPCM69
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
