NEXT_PUBLIC_COMING_SOON=true
NEXT_PUBLIC_PROGRAM_ID=CnyJZNQRtwJcfwHcXSSi2TXYwwWx3vffeRJfu5qLEMAV
NEXT_PUBLIC_TOKEN_MINT=Gk9B6f3LBmmRhniF1Q3fnvzWV1vjBS4cfxpc4XN8xirp
NEXT_PUBLIC_DEV_WALLET_ATA=CN2fYQocQ3T8ds5FXeWYJGFdaNKpqEwCZTUiuMRHiZ6j
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
